Repository opentiny/tiny-pro, pull requests merged in 2025-04, with the labels that each got.

#4 docs: update README
  README.md
  package.json
Labels: documentation

#5 test: unit test
  .github/workflows/unit-test.yaml
  template/nestJs/package.json
  template/nestJs/src/auth/__tests__/auth.guard.spec.ts
  template/nestJs/src/auth/__tests__/auth.service.spec.ts
  template/nestJs/src/auth/auth.service.ts
  template/nestJs/src/employees/employees.controller.spec.ts
  template/nestJs/src/employees/employees.service.spec.ts
  template/nestJs/src/i18/__tests__/i18.service.spec.ts
  template/nestJs/src/i18/__tests__/lang.service.spec.ts
  template/nestJs/src/i18/i18.controller.spec.ts
  template/nestJs/src/i18/i18.service.spec.ts
  template/nestJs/src/menu/__tests__/map2Tree.spec.ts
  template/nestJs/src/menu/__tests__/menu.service.spec.ts
  template/nestJs/src/menu/menu.service.ts
  template/nestJs/src/permission/__tests__/permission.guard.spec.ts
  template/nestJs/src/permission/__tests__/permission.service.spec.ts
  template/nestJs/src/role/__tests__/role.service.spec.ts
  template/nestJs/src/user/__tests__/user.service.spec.ts
  template/nestJs/src/user/user.controller.spec.ts
  template/nestJs/src/user/user.service.spec.ts
Labels: unit-test

#11 ci: add issue-template/pr-template/auto-labeler/auto-release
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/labeler.yml
Labels: ci

#12 docs: add backend design docs
  docs/backend-api-specification.md
  docs/backend-design.md
  docs/images/data-table-design.png
Labels: documentation

#13 fix:Restore missing i18n
  template/tinyvue/src/locale/en-US.ts
  template/tinyvue/src/locale/en-US/httpError.ts
  template/tinyvue/src/locale/zh-CN.ts
  template/tinyvue/src/locale/zh-CN/httpError.ts
  template/tinyvue/src/views/login/locale/en-US.ts
  template/tinyvue/src/views/login/locale/zh-CN.ts
Labels: bug

#15 fix: add .env.example
  .gitignore
  template/nestJs/.env.example
  template/nestJs/pnpm-lock.yaml
  template/tinyvue/package.json
  template/tinyvue/pnpm-lock.yaml
Labels: bug

#23 fix: change MYSQL_DATABASE in the docker-compose.yml
  template/nestJs/docker-compose.yml
Labels: bug

#24 fix: test failed in the unit-test.yaml github action
  .github/workflows/unit-test.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/lib/init.ts
  template/nestJs/package.json
Labels: bug

#28 fix: copySettings (#18)
  template/tinyvue/src/components/global-setting/index.vue
Labels: bug
