Repository opentiny/tiny-pro, pull requests merged in 2025-07, with the labels that each got.

#44 feat(nestjs): migration
  docs/images/feature_2012x914.png
  docs/images/tiny-pro-show.png
  docs/images/为测试用户绑定菜单.png
  docs/images/只勾选测试页面即可.png
  docs/images/左侧测试页面 - 中文.png
  docs/images/左侧测试页面 - 英文.png
  docs/images/新增权限.png
  docs/images/新增权限成功.png
  docs/images/新增词条.png
  docs/images/最终页面效果.png
  docs/images/权限绑定展示.png
  docs/images/查看菜单页.png
  docs/images/测试用户登录.png
  docs/images/添加菜单.png
  docs/images/添加角色完全体.png
  docs/images/点击添加词条.png
  docs/images/登陆测试账号.png
  docs/images/绑定权限.png
  docs/images/绑定菜单.png
  docs/images/绑定角色.png
  docs/images/退出登录.png
  docs/images/选择语言.png
  docs/tiny-pro-backend-dev-guideline.md
  docs/tiny-pro-front-dev-guideline.md
  docs/tiny-pro.md
  pnpm-lock.yaml
  template/nestJs/docker-compose.yml
  template/nestJs/dockerfile
  template/nestJs/endpoint.sh
  template/nestJs/libs/db/src/db.service.ts
  template/nestJs/migrate.js
  template/nestJs/migrations/1751959540264-TinyPro.js
  template/nestJs/package.json
  template/nestJs/src/generateMigration.ts
  template/nestJs/src/main.ts
  template/nestJs/src/user/__tests__/user.service.spec.ts
Labels: enhancement, unit-test

#48 fix: Modify UI Ireview comments
  template/tinyvue/src/layout/default-layout.vue
  template/tinyvue/src/views/form/step/components/coach-form.vue
  template/tinyvue/src/views/form/step/index.vue
  template/tinyvue/src/views/user/setting/components/set-from.vue
Labels: bug

#57 refactor: remove console.log
  template/nestJs/src/auth/auth.service.ts
Labels: refactoring

#51 feat: change the style of the home page and menu page
  template/tinyvue/src/layout/general-layout.vue
  template/tinyvue/src/views/board/work/components/learn-plan.vue
  template/tinyvue/src/views/board/work/components/learn-probation.vue
  template/tinyvue/src/views/board/work/components/learn-traini.vue
  template/tinyvue/src/views/board/work/index.vue
  template/tinyvue/src/views/menu/info/components/add-menu.vue
  template/tinyvue/src/views/menu/info/components/info-tab.vue
  template/tinyvue/src/views/menu/info/components/menu-tree.vue
  template/tinyvue/src/views/menu/info/components/update-form.vue
  template/tinyvue/src/views/permission/info/components/info-tab.vue
  template/tinyvue/src/views/role/info/components/add-role.vue
  template/tinyvue/src/views/role/info/components/info-tab.vue
  template/tinyvue/src/views/role/info/components/role-table.vue
Labels: enhancement

#60 feat: 监控页样式修改和解决初始化问题
  template/tinyvue/src/views/board/home/components/curve.vue
  template/tinyvue/src/views/board/home/components/falls.vue
  template/tinyvue/src/views/board/home/components/main.vue
  template/tinyvue/src/views/board/home/components/region.vue
  template/tinyvue/src/views/board/home/components/regiontable.vue
  template/tinyvue/src/views/board/home/components/round.vue
  template/tinyvue/src/views/board/home/components/roundtable.vue
  template/tinyvue/src/views/board/work/components/learn-coach.vue
  template/tinyvue/src/views/permission/info/components/info-tab.vue
  template/tinyvue/src/views/role/info/components/info-tab.vue
  template/tinyvue/src/views/role/info/components/menu-drawer.vue
Labels: enhancement

#62 fix: 表格和弹出框优化
  template/nestJs/locales.json
  template/tinyvue/src/locales.json
  template/tinyvue/src/views/list/search-table/index.vue
  template/tinyvue/src/views/locale/components/add-locale.vue
  template/tinyvue/src/views/userManager/info/components/info-tab.vue
  template/tinyvue/src/views/userManager/useradd/index.vue
Labels: bug

#63 feat: 解决查看菜单下级不能展开的问题
  template/tinyvue/src/views/menu/info/components/menu-tree.vue
Labels: enhancement
